<!DOCTYPE html>
<html>
  <head>
    <title>BlogTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <h1>A1</h1>
    <h1>A1: Pham Dang Hoang</h1>
    <h1>HoangPham Dang hehehe</h1>
    <h1>hsajdhasdhsakhdsk</h1>
    <h1>hsajdhasdhsakhdsk</h1>
    <h1>hsajdhasdhsakhdsk</h1>
    <h1>hsajdhasdhsakhdsk</h1>
    <h1>xin chao tat ca moi nguoi</h1>
  </body>
</html>
